@import "../../styles/colors";

.root {
  background-color: $palette-teal-400;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover {
  border: solid 5px whitesmoke;
  background-color: #ff3d00;
}

.img {
  border: solid 5px whitesmoke;
}
