.snap {
  font-size: 1.5vmin;
  border: solid 2px rgba(255, 255, 255, 0.5);
  margin: 0.5vmin;
  padding-top: 0.8vmin;
  padding-bottom: 0.8vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
}
